<div class="row ff-body">
  <div class="col-6">
    <h2>Use Cases</h2>
    <ul>
        <li>Censorship resistance</li>
        <li>Internet resilience</li>
        <li>Open source code and protocols</li>
    </ul>
  </div><!-- end col -->
  <div class="col-6">
    <h2>Resources</h2>
    <ul>
        <li><a href="https://docs.ens.domains/" target="_blank">Ethereum Name System (ENS)</a></li>
        <li><a href="https://ipfs.tech" target="_blank">Inter-Planetary File System (IPFS)</a></li>
        <li><a href="https://medium.com/the-ethereum-name-service/cloudflare-and-fleek-make-ens-ipfs-site-deployment-as-easy-as-ever-262c990a7514" target="_blank">Fleek Makes Deploying and Maintaining an ENS+IPFS Website Easier than Ever</a></li>
    </ul>
  </div><!-- end col -->
</div><!-- end row -->
