<div class="row ff-body">
  <div class="col-6">
    <h2>Internet Freedom</h2>
    <h3>Use Cases</h3>
    <ul>
        <li>Censorship resistance</li>
        <li>Open source</li>
    </ul>
  </div><!-- end col -->
  <div class="col-6">
    <h2>Resources</h2>
    <ul>
        <li><a href="https://docs.ens.domains/" target="_blank">ENS Documentation</a></li>
        <li><a href="https://medium.com/the-ethereum-name-service/cloudflare-and-fleek-make-ens-ipfs-site-deployment-as-easy-as-ever-262c990a7514" target="_blank">Fleek Makes Deploying and Maintaining an ENS+IPFS Website Easier than Ever</a></li>
        <li><a href="ipfs.io" target="_blank">IPFS</a></li>
    </ul>
  </div><!-- end col -->
</div><!-- end row -->
